.container
  .item{style: 'width: 100%;max-width: 600px; margin: 0 auto 100px;'}
    .card
      %img.card-img-top.center-block{src: post.image_url, }
      .card-block
        .card-text
          %span.glyphicon.glyphicon-heart 
          = post.likes_count
          likes
          .text-left
            = post.text 
      - post.ig_comments.each do |comment| 
        .card-body
          .br
            = comment.profile_username
            = comment.text